@charset "UTF-8";

* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   border-style: solid;
   border-width: 0;
   text-decoration: none;
}

.l-header {
   width: 100%;
   background-color: #FFF7EF;
}

.l-header-top {
   position: fixed;
   display: block;
   height: 60px;
   z-index: 100;
}

.p-bar {
   width: 100%;
   text-align: right;
   background-color: #fff7ef;
}

.p-bar-button {
   font-size: 30px;
   background-color: #fff7ef;
   font-weight: bold;
}

.p-search {
   text-align: center;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.p-search input[type="search"]{
   width: 18rem;
   height: 3rem;
   border: 1px solid #707070;
   border-radius: 0.6rem;
   overflow: hidden;
   background-color: #fff;
   padding-left: 10px;
}

.p-search input[type="search"]:focus {
   outline: 0;
}

.p-search-icon {
   font-size: 2rem;
}

.p-search-button {
   width: 100px;
   height: 3rem;
   background-color: #f2ede9;
   border-radius: 0.6rem;
   border: 1px solid #707070;
   color: #707070;
   cursor: pointer;
}

.l-header-title {
   height: 220px;
   padding-top: 50px;
   margin: auto;
   color: #707070;
}

.l-header-title h1 {
   text-align: center;
   font-size: 40px;
   font-weight: bold;
}

.l-main-top {
   background-image: url(../Hamburger-site/img/main-top.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   height: 280px;
   width: 100%;
   padding-bottom: 50px;
}

.l-main-top h2 {
   position: relative;
   color: #fff;
   line-height: 280px;
   padding-left: 25px;
   font-size: 36px;
}
