@charset "UTF-8";

* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   border-style: solid;
   border-width: 0;
}

article {
   display: flex;
}

.l-header {
   height: 220px;
   width: 100%;
   display: flex;
   background-color: #FFF7EF;
   justify-content: space-between;
}

.l-header-title {
   color: #707070;
   text-align: center;
   margin-top: 90px;
   margin-right: 65px;
}

.l-header-search {
   text-align: center;
   margin-top: 85px;
   margin-left: 65px;
}

.l-header-search input[type="text"]{
   width: 20rem;
   height: 3rem;
   border: 1px solid #707070;
   border-radius: 0.6rem;
   overflow: hidden;
   background-color: #fff;
}

.l-header-search input[type="text"]:focus {
   outline: 0;
}

.c-button {
   width: 7rem;
   height: 3rem;
   border-radius: 0.6rem;
   border: 1px solid #707070;
   cursor: pointer;
   color: #707070;
   background-color: #ded8d3;
   font-weight: 500;
}

.l-main-contents {
   position: relative;
}

.l-main-contents h2 {
   position: absolute;
   color: #fff;
   top: 250px;
   left: 90px;
   font-size: 40px;
}

.l-main-contents img {
   height: 530px;
   width: 100%;
   background-size: cover;
}

.l-main-take {
   position: relative;
}

.l-main-take h2 {
   position: absolute;
   color: #fff;
   top: 45px;
   left: 20px;
   font-size: 80px;
}

.l-main-eat {
   position: relative;
}

.l-main-eat h2 {
   position: absolute;
   color: #fff;
   top: 45px;
   left: 20px;
   font-size: 80px;
}
